$backgoundGreyBody: #121212;
$backgoundCard2Blocco: #2d2d2d;
$backgoundCard3Blocco: #181818;
$textWhite: white;
$textLightGray: #aaaaaa;
$textSoftGray: #535353;
$textMediumGray: #181818;
$green: #00ff00;
