@font-face {
  font-family: "CircularStd-Black";
  src: url("../fonts/CircularStd-Black.otf") format("opentype");
}
@font-face {
  font-family: "CircularStd-BlackItalic";
  src: url("../fonts/CircularStd-BlackItalic.otf") format("opentype");
}
@font-face {
  font-family: "CircularStd-Bold";
  font-weight: bold;
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
}
@font-face {
  font-family: "CircularStd-BoldItalic";
  font-weight: bold;
  src: url("../fonts/CircularStd-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "CircularStd-Book";
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
}
@font-face {
  font-family: "CircularStd-Light";
  src: url("../fonts/CircularStd-Light.otf") format("opentype");
}
@font-face {
  font-family: "CircularStd-Mediu";
  src: url("../fonts/CircularStd-Medium.otf") format("opentype");
}
@font-face {
  font-family: "CircularStd-MediumItalic";
  src: url("../fonts/CircularStd-MediumItalic.otf") format("opentype");
}
