body {
  background-color: $backgoundGreyBody;
  color: $textWhite;
  font-family: "CircularStd-Black";
  padding: 0 !important;
}

h2 {
  font-size: 1.4em;
}
#sideBar {
  background: #000;
  min-width: 350px;
  max-width: 350px;
}
.content {
  min-height: 100vh;
  width: 100%;
}
#iconsNav {
  font-size: 23px;
}
#boxNavColor {
  background-color: #181818de;
  margin: 1em;
}

#playlist-home-mobile i,
#hiddenMenu i {
  font-size: 30px;
  margin: 0.3em;
}

.card-body p {
  font-size: 0.6em;
}
.card-body p:nth-last-of-type(1) {
  color: $textSoftGray;
}

#carouselContainer {
  // height: 230px;
}

//prova
#card1Container > div {
  transition: all 100ms;
}
#card1Container > div:hover {
  transform: scale(1.1);
}

#card2Container {
  .card {
    transition: all 100ms;
  }

  .card:hover {
    transform: scale(1.01);
  }
}
