#navBarSx {
  font-size: 0.8em;
  color: $textSoftGray;
}

#navBarSx ul {
  padding: 0;
}

#navBarSx li {
  list-style-type: none;
}

#navBarMiddleMobile {
  position: sticky;
  top: 90%;
  z-index: 1;
  background-color: #121212c4 !important;
  margin-top: -50px;
  justify-content: center !important;
}

#navBarMiddleMobile a {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  #navBarSx {
    background-color: black !important;
  }
}
