#navBarSx {
  font-size: 0.8em;
  color: $textSoftGray;
  a,
  li {
    padding: 0.2em 0;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transform: translateX(3px);
      color: white;
    }
  }
  ul {
    padding: 0;
    padding-left: 12px;
  }
}

#navBarMiddleMobile {
  // position: sticky;
  bottom: 1%;
  z-index: 1;
  background-color: #121212c4 !important;
  margin-top: -50px;
  justify-content: center !important;
  a {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) {
  #navBarSx {
    background-color: black !important;
  }
}
