#navBarDx {
  font-size: 1em;
  color: $textLightGray;
  margin: 2em 0;
  color: $textSoftGray;
  padding-left: 10px !important;
  .cardNavbarDx {
    font-size: 0.7em;
    padding: 1em 0;
  }
  .cardNavbarDx #artistName {
    font-size: 1.2em;
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  .cardNavbarDx {
    cursor: pointer;
    &:hover {
      transform: scale(1.01);
    }
  }
}
