:root {
  font-size: 14px;
  font-family: "Roboto", sans-serif;

  //   --bg: #ee2828;
  //   --black: #1bb915;
  --prog: #ffffff;
  --barHeigh: 6px;
}
#playerContainer {
  background: $backgoundGreyBody;
  width: 100%;
  border-top: 1px solid darken($backgoundGreyBody, 2%);
  //   #navBarDx {
  font-size: 0.8em;
  // color: $textLightGray;
  color: $textSoftGray;
  margin: 0;
  i {
    font-size: 1.8em;
  }

  .artistName {
    color: white;
    font-size: 1.2em;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
#options a {
  color: $textSoftGray;
}

#playerContainer .player {
  width: 80%;
  position: relative;
  @media screen and (min-width: 767px) {
    ul a:nth-child(3) {
      font-size: 1.5em;
    }
  }
}

.header {
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
}

.header > .button {
  width: 2rem;
  height: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  color: var(--black);
  background: linear-gradient(145deg, #fbfbfb, #d4d4d4);
  // box-shadow: 4px 4px 7px #cccccc, -4px -4px 7px #ffffff;
  border-radius: 6px;
}

.art {
  display: block;
  width: 175px;
  height: 175px;
  margin: 1rem auto;
  border-radius: 50%;
  border: 4px solid #ebebed;
  // box-shadow: 16px 16px 57px #acacac, -16px -16px 57px #ffffff;
}

.info {
  margin: 1.5rem 0;
  text-align: center;
}
.info h1 {
  color: var(--black);
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.info p {
  font-size: 1.15rem;
  // color: var(--prog);
}

.prog {
  padding: 10px 0;
}
.prog-time {
  padding: 3px 5px;
  // color: var(--prog);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.prog-time > p {
  font-size: 0.65rem;
}

.prog-bar {
  width: 100%;
  height: var(--barHeigh);
  padding: 1px;
  border-radius: 25px;

  background: linear-gradient(145deg, $textSoftGray, $textSoftGray);
  // background: linear-gradient(145deg, #fbfbfb, #d4d4d4);
  // box-shadow: 5px 5px 10px #a5a5a5, -5px -5px 10px #ffffff;
}

.prog-bar-inner {
  height: var(--barHeigh);
  background: var(--prog);
  border-radius: 25px;
}

.buttons {
  // margin: 2rem 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: $textSoftGray;
  border-radius: 50%;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: 5px 5px 10px #d4d4d4, -5px -5px 10px #ffffff;
}

.button-sm {
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
}

.button-md {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.85;
}
.button-lg {
  width: 3.25rem;
  height: 3.25rem;
  // box-shadow: inset 6px 6px 12px #c8c8c8, inset -6px -6px 12px #ffffff;
}

.bar {
  width: 50%;
  height: 2px;
  margin: auto;
  background: var(--prog);
  border-radius: 25px;
  position: absolute;
  left: 25%;
  bottom: 1rem;
}

.credit {
  background: linear-gradient(45deg, #3297d3, #8feffb);
  color: var(--black);
  padding: 1rem 0;
  text-align: center;
}

.art {
  animation: rolling-disk 7.5s 0.25s linear infinite;
}
.prog-bar-inner {
  animation: timer 30s linear 0.1s;
}

/*      keyframes   */
@keyframes timer {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes rolling-disk {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.volumeController {
  input {
    accent-color: white;
  }
}
