.cardSearch {
 
  user-select: none;
  position: absolute;
  height: 65px;
  bottom: -5px;
  right: -10px;
  rotate: 25deg;
  margin: -75px 0 0 -100px;
  border-radius: 10px;
}
#albumContainer .rounded-1 {
  position: relative;
  overflow: hidden;
  width: 200px;
}
#albumContainer .col {
  height: 80px;
  user-select: none;
  cursor: pointer;
  &:hover{  transform: scale(1.01)};
}
#search {
  text-align: center;
  margin: 10px;
  font-size: 0.8em;
  cursor: pointer;
input{ background-color: lighten($backgoundGreyBody, 10); color: white;
;font-size: 1rem;}
button{width: 100px; font-size: 1rem; border: 0; background-color: white;}
}
.artist{width: 100px;}
.fontSearch{font-size: 1.3em;}
#contenitoreRicerca{ 
  .d-flex{ 
width: 300px;
   user-select: none;
  cursor: pointer;
  &:hover{  transform: scale(1.01)};}}
  